<%= @admin_job= 'glossary' %>
<%= render 'layouts/admin_header' %>
<h1>Editing Glossary</h1>

<%= render 'form', glossary: @glossary %>

<%= link_to 'Show', @glossary %> |
<%= link_to 'Back', glossaries_path %>
