<p id="notice"><%= notice %></p>
<% @navlinks= [['Thêm từ mới', new_glossary_path(:dict_id =>params[:dict_id])],
               ['Nhập Từ File', dict_import_path(:dict_id =>params[:dict_id])] ] %>
<% @admin_job= 'glossary' %>
<%= render 'layouts/admin_header' %>

<% options = [] 
   @all_glossaries_configs.each {|inf|
		options << [ inf.dict_name , inf.dict_sys_name ]
   } 
%>

<%= form_with url: '/glossaries', method: :put, local: true, multipart: true do |f| %>
<%= hidden_field_tag('dict_id',params[:dict_id]) %>

<%= select_tag(
	"dict_id", options_for_select(options,params[:dict_id]), onchange: "this.form.submit();" ) %> 

  <%= f.label :q, "Tìm từ:" %>
  <%= f.text_field :to_search, id: :to_search , value:  params[:to_search] %>
  <%= f.submit "Search" %>

<table class="table table-hover table-bordered ">

  <thead>
    <tr bgcolor=tabhead_color>
      <th><%=@key_lang%></th>
	  <th>'Từ loại'</th>
	  <th>'Lĩnh vực'</th>
	  <th><%=@prim_lang%></th>
	  <th><%=@sec_lang%></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @glossaries.each do |glossary| %>
      <tr>
        <td><%= glossary.key_words %></td>
        <td><%= glossary.word_type %></td>
        <td><%= glossary.category %></td>
        <td><%= glossary.primary_xlate %></td>
        <td><%= glossary.secondary_xlate %></td>
        <td><%= link_to 'Show', glossary %></td>
        <td><%= link_to 'Edit', edit_glossary_path(glossary) %></td>
        <td><%= link_to 'Destroy', glossary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

