<% @admin_job= 'glossary' %>
<%= render 'layouts/admin_header' %>

<p id="notice"><%= notice %></p>

<table class="table table-hover table-bordered table-sm">
<tr>
  <td bgcolor=tabhead_color><strong>Dict_id</strong> </td>
  <td><%= @glossary.dict_id %> </td>
</tr>

<tr>
  <td bgcolor=tabhead_color><strong>Từ khóa</strong> </td>
  <td><%= @glossary.key_words %> </td>
</tr>

<tr>
  <td bgcolor=tabhead_color><strong>Từ loại</strong> </td>
  <td><%= @glossary.word_type %> </td>
</tr>

<tr>
  <td bgcolor=tabhead_color><strong>Lĩnh vực</strong> </td>
  <td><%= @glossary.category %> </td>
</tr>

<tr>
  <td bgcolor=tabhead_color><strong>Ngôn ngữ 1</strong> </td>
  <td><%= @glossary.primary_xlate %> </td>
</tr>

<tr>
  <td bgcolor=tabhead_color><strong>Ngôn ngữ 2</strong> </td>
  <td><%= @glossary.secondary_xlate %> </td>
</tr>
</table>

<%= link_to 'Thay đổi', edit_glossary_path(@glossary) %> 
<%= link_to 'Trở lại', glossaries_path %>
