
<style>
label {
    display: block;
    text-indent: 1em;
}
</style>


<script>


function clickme(s){
	console.log(s)
	document.getElementById("to_search").value=s
	document.getElementById("search_mode").value="search_exact"
	document.getElementById("lookup").submit();
}


function src_lang_change(){
	console.log("CHANGED");
	document.getElementById("cur_src_lang").innerHTML= document.getElementById("src_lang").value;
}

$(document).ready(function(){
    $("#swap_lang").click(function(){
			var src_lang= document.getElementById("src_lang").value;
			document.getElementById("src_lang").value=document.getElementById("tgt_lang").value;
			document.getElementById("tgt_lang").value=src_lang;
			document.getElementById("to_search").value="";
			console.log(document.getElementById("to_search").value);
			document.getElementById("cur_src_lang").innerHTML=document.getElementById("src_lang").value;
    });
});
</script>





<!-- LANGUAGE OPTIONS -------------------------------------------- -->
<% src_lang_opt = []
   tgt_lang_opt = []
   ref_lang_opt = []
   @dictionaries.src_lang_supported.each{|k,v|
      src_lang_opt << [v,k]
   }
   ref_lang_opt << ["Tất cả","ALL"]
   ref_lang_opt << ["Không tham khảo","NONE"]
   @dictionaries.tgt_lang_supported.each{|k,v|
      tgt_lang_opt << [v,k]
	  ref_lang_opt << [v,k]
   }
%>
<!-- FORM -------------------------------------------- -->

<!-------- SRC_LANG ------------------------------------->
<div class="input-group input-group-sm">
    <%= select_tag(
	"src_lang", options_for_select(src_lang_opt,params[:src_lang]), 
	{ "selected" => params[:src_lang],
	  "class" =>"form-control" ,
	  "onchange" => "src_lang_change();" } ) %>
  <span class="input-group-addon" id="basic-addon2"><a class="fa fa-exchange" id="swap_lang"  ></a></span>
    <%= select_tag(
	"tgt_lang", options_for_select(tgt_lang_opt,params[:tgt_lang]), 
	{ "selected" => params[:tgt_lang],
	  "class" =>"form-control" } ) %>
</div>
<!-------- REF_LANG ------------------------------------->
<div class="input-group input-group-sm">
  <span class="input-group-addon" id="basic-addon2">Ngôn ngữ tham khảo</span>
    <%= select_tag(
	"ref_lang", options_for_select(ref_lang_opt,params[:ref_lang]), 
	{ "selected" => params[:ref_lang],
	  "class" =>"form-control" } ) %>
</div>

<!-------- DOMAIN ------------------------------------->

<% if false %>  <!--- disabled for now  ---->
<div class="input-group input-group-sm">

<span class="input-group-addon" id="basic-addon2">LĨNH VỰC</span>
<div>
<% @domain_list.each(){|domain,domain_name| %>
<%  chk_name="CHK_"+domain %>
	<div class="checkbox">
		<label><input type="checkbox" value="ON"
		name="<%=chk_name%>"
		id="<%=chk_name%>"
		<% if params[chk_name] != nil %>
			CHECKED
		<% end %>
		><%=domain_name%>
		</label>
	</div>
<% } %>
</div>
</div>
<% end %>
<!-------- SEARCH-MODE ------------------------------------->
<div class="input-group input-group-sm">
  <span class="input-group-addon" id="basic-addon2">Cách tìm</span>
    <%= select_tag(
	"search_mode", options_for_select(@search_opts,params[:search_mode]), 
	{ "selected" => params[:search_mode],
	  "class" =>"form-control" } ) %>
</div>

<!-------- SEARCH  ------------------------------------->
<div class="input-group input-group-sm">
  <span class="input-group-addon" id="basic-addon2">
	<span class="badge badge-secondary" id="cur_src_lang" ><%=params[:src_lang]%></span>
  </span>
  <input type="text" class="form-control" 
        id="to_search" name="to_search"
	placeholder='Nhập từ cần tra ...' 
	value="<%=params[:to_search]%>" 
	aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">
		<button class="fa fa-search" >
        </button>
  </span>
</div>
<!-- -------------------------------------------- -->

<%if @key_words_list.size>1 %>

<div class="list-group">
  <% @key_words_list.each{|k| %>
  <button type="button" class="list-group-item list-group-item-action" onclick = "clickme('<%=k%>');"><%=k%></button>
  <% } %>
</div>
<%end%>

