<!DOCTYPE html>
<% if @summary != nil %>

<style>
.dropbtn {
    background-color: gray;
    color: white;
    padding: 1px;
    font-size: 10px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

</style>


<!--------------------------------------------------------->
<% @summary["translated"].each{|lang,trans| %>
<%   if trans.length>0 %>


<div class="panel panel-default">
  <div class="panel-heading">
	<p class="dict_label"><%=@dictionaries.lang_codes[lang]%></p>
	</div>
  <div class="panel-body">
<%   trans.each{|key,res| %>
       <p class="dict_key"><%=key%></p>
<%     res.each{|r| %>
	   <span class="clearfix">
			<p style="float: left;" class="dict_text"><%=r["xlate"]%></p>
			<div class="dropdown" style="float: right">
			<button class="dropbtn"><%=r["dict"].size.to_s %><span class="fa fa-book"></span></button>
					<div class="dropdown-content">
<%					r["dict"].each{|d| %>
						<a href="<%='#dict'+@dictionaries.dict_num(d).to_s%>"><%=@dictionaries.dict_name(d)%></a>
<%					} %>	
					</div>
			</div>
		</span>
	   
	   
	   
	   
	   
<%     } %>
<%   } %>
  </div>
</div>
<%   end %>
<% } %>
<% end %>
