<!DOCTYPE html>
<html>
  <body>
<% @sorted_results.each{|n,res| %>
<%    next if @dictionaries.dict_type(res[:dict_name])=="tmx" %>
<div class="panel panel-default">
  <div class="panel-heading">
    <a name="<%='dict'+@dictionaries.dict_num(res[:dict_name]).to_s%>"></a>
	<p class="dict_label"><%=@dictionaries.dict_name(res[:dict_name])%></p>
	</div>
  <div class="panel-body">
    <% 	res[:entries].each{|entry|
		attr= entry[:infos][:key_attr]
        attr= "" if attr==nil %>

	<p class="dict_key">
	     <% if entry[:infos][:dict_entry_key] == nil %>
	         <%=entry[:infos][:key_words]%>
	         <% if entry[:infos][:key_attr] != nil %>
			 &nbsp;<i><%=attr%></i>
	         <% end %>
	     <% else %>
	         <%=entry[:infos][:dict_entry_key].html_safe%>
	     <% end  %>
	</p>
    <% entry[:text].each{|t|  %>
    <% t = t.gsub(";","; ").gsub(",",", ") %>  
		<%if t.index("<html>") != nil %>
			<%= t.html_safe %>
		<%else%>
			<p class="dict_text"><%=t%></p>
		<% end %>
    <% }
      }	%>
  </div>
</div>

<% } %>


  </body>
</html>
