<!DOCTYPE html>
<% if @summary != nil %>

<style>
.dropbtn {
    background-color:  #669900;
    color: white;
    padding: 1px;
    font-size: 10px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

</style>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<!--------------------------------------------------------->

<%if @result.size==0 and params[:to_search] != "" %>

<p>Không tìm thấy kết quả cho: </p>
<p><b><%=params[:to_search]%></b></p>
<p>[<%=@dictionaries.src_lang_supported[params[:src_lang]]%>]</p>

<% end %>


<% @summary["translated"].each{|lang,trans| %>
<%   if trans.length>0 %>


<div class="panel panel-default">
  <div class="panel-heading">
	<p class="dict_label"><%=@dictionaries.lang_codes[lang]%></p>
	</div>
  <div class="panel-body">
  
  
<%   trans.each{|key,res| %>
       <p class="dict_key"><%=key%></p>
<%     res.each{|r| %>
	   <span class="clearfix">
			<p style="float: left;" class="dict_text"><%=r["xlate"]%></p>
		<div style="float: right;" >
<% if lang != params[:tgt_lang] %>
<% lookup = {"abc"=>"def",
			 "ijk"=>"hello",
			 "src_lang"=>lang,
			 "tgt_lang"=>params[:tgt_lang],
			 "to_search"=>r["xlate"],
			 "search_mode"=>params["search_mode"]
			}
%>


			<% tool_tip = r["xlate"] + " > tiếng " + @dictionaries.lang_codes[params[:tgt_lang]] %>
			<a href="<%=dict_lookup_path(lookup)%>"
			    data-toggle="tooltip" title="<%=tool_tip%>" ><span class="fa fa-search"></span>
			</a>
			 &nbsp;
<% end %>
			<div class="dropdown">
			<button class="dropbtn"><%=r["dict"].size.to_s%> <span class="fa fa-book"></span></button>
					<div class="dropdown-content">
<%					r["dict"].each{|d| %>
						<a href="<%='#dict'+@dictionaries.dict_num(d).to_s%>"><%=@dictionaries.dict_name(d)%></a>
<%					} %>	
					</div>
			</div>
		</div>
		</span>
	   
	   
	   
	   
	   
<%     } %>
<%   } %>
  </div>
</div>
<%   end %>
<% } %>
<% end %>
