<script>

function lang_change(){
	console.log("changed");
	document.getElementById("lang_changed").value="1";
	document.getElementById("lookup").submit();
}

</script>

<%=hidden_field_tag "lang_changed" , "0" %>
<!-- LANGUAGE OPTIONS -------------------------------------------- -->
<% src_lang_opt = []
   tgt_lang_opt = []
   ref_lang_opt = []
   @dictionaries.src_lang_supported.each{|k,v|
      src_lang_opt << [v,k]
   }
   ref_lang_opt << ["Mặc định","ALL"]
   @dictionaries.tgt_lang_supported.each{|k,v|
      tgt_lang_opt << [v,k]
	  ref_lang_opt << [v,k]
   }
%>
<!-- FORM -------------------------------------------- -->

<!-------- SRC_LANG ------------------------------------->
<div class="input-group input-group-sm">
    <%= select_tag(
	"src_lang", options_for_select(src_lang_opt,params[:src_lang]), 
	{ "selected" => params[:src_lang],
	  "class" =>"form-control" ,
	  "onchange" => "lang_change();"} ) %>
  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-arrow-right"></i></span>
    <%= select_tag(
	"tgt_lang", options_for_select(tgt_lang_opt,params[:tgt_lang]), 
	{ "selected" => params[:tgt_lang],
	  "class" =>"form-control" ,
	  "onchange" => "lang_change();"} ) %>
</div>
<!-------- REF_LANG ------------------------------------->
<div class="input-group input-group-sm">
  <span class="input-group-addon" id="basic-addon2">Ngôn ngữ tham khảo</span>
    <%= select_tag(
	"ref_lang", options_for_select(ref_lang_opt,params[:ref_lang]), 
	{ "selected" => params[:ref_lang],
	  "class" =>"form-control" ,
	  "onchange" => "lang_change();"} ) %>
</div>

<!-------- DICTIONARIES-SELECT  ------------------------------------->
<!--- SELECT - DICTS -------------------------------------------->
<% all_dicts="" %>
<div class="input-group input-group-sm">
<p class="form-control"></p>
  <span class="input-group-addon" id="basic-addon2">
	<div class="button-group">
		<button type="button" class="fa fa-book dropdown-toggle" data-toggle="dropdown" >
		</button>		
<div class="dropdown-menu">
<div class="panel panel-default">
<div class="panel-heading">Chọn tự điển [nếu cần thiết]</div>		
<div class="panel-body">

<!---DROP LIST ------------------------------------------------------------------------->
				<div class="checkbox">
					<label><input type="checkbox" name='all' id='all' value="ON"
								<% if @selected_dicts.length>0 %>
									CHECKED
								<% end %>
								onchange="check_all('all')"
					>Tất cả
					</label>
				</div>
<% @dict_list.each(){|n,inf| %>
<% all_dicts << n << ";" %>
				<div class="checkbox">
					<label><input type="checkbox" value="ON"
						name="<%="CHK"+inf["dict_sys_name"]%>"
						id="<%=inf["dict_sys_name"]%>"
						<% if @selected_dicts.has_key?(inf["dict_sys_name"]) %>
							CHECKED
							<% end %>
					><%=inf["dict_name"]%>
					</label>
				</div>

<% } %>
</div> <!--- panel body --->
</div> <!----panel ---->
</div> <!--- dropdown-menu --->
</div> <!----button-group --->
</div> <!----input-group --->
<%=hidden_field_tag 'all_dicts',all_dicts %>
<!---END DROP LIST ------------------------------------------------------------------------->
<!---END SELECT - DICTS -------------------------------------------->
<!-------- SEARCH  ------------------------------------->
<div class="input-group input-group-sm">
  <input type="text" class="form-control" 
        id="to_search" name="to_search"
	placeholder='Nhập từ cần tra ...' 
	value="<%=params[:to_search]%>" 
	aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">
		<button class="fa fa-search" name="submit_a" type="submit_a" value="submit-true">
		</button></span>
</div>
<!-- -------------------------------------------- -->
