<style>
 #select_dicts {
    margin-left:+2px;
	background-color:#99ccff;
 }
</style>



<% src_lang_opt = []
   tgt_lang_opt = []
   ref_lang_opt = []
   @dictionaries.src_lang_supported.each{|k,v|
      src_lang_opt << [v,k]
   }
   ref_lang_opt << ["Mặc định","ALL"]
   @dictionaries.tgt_lang_supported.each{|k,v|
      tgt_lang_opt << [v,k]
	  ref_lang_opt << [v,k]
   }
%>

  <label>Ngôn ngữ gốc</label>
  <%= select_tag(
	"src_lang", options_for_select(src_lang_opt,params[:src_lang]), 
	{ "selected" => params[:src_lang],
	                   "onchange" => "this.form.submit();"} ) %>

  <label> Ngôn ngữ đích</label>
    <%= select_tag(
	"tgt_lang", options_for_select(tgt_lang_opt,params[:tgt_lang]), 
	{ "selected" => params[:tgt_lang],
	                   "onchange" => "this.form.submit();"} ) %>

  <label> Ngôn ngữ tham khảo</label>
    <%= select_tag(
	"ref_lang", options_for_select(ref_lang_opt,params[:ref_lang]), 
	{ "selected" => params[:ref_lang],
	                   "onchange" => "this.form.submit();"} ) %>
<br/>

<% all_dicts="" %>
<div class="container">
  <div class="row">
       <div class="col-lg-12">
     <div class="button-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Chọn TĐ &nbsp;<span class="glyphicon glyphicon-book"></span> <span class="caret"></span></button>
<ul class="dropdown-menu">

<% @dict_list.each(){|n,inf| %>
<% all_dicts << n << ";" %>
   <li><a href="<%="CHK"+inf["dict_sys_name"]%>"  data-value="<%="CHK"+inf["dict_sys_name"]%>"
      type="checkbox"/>&nbsp;"<%=inf["dict_name"]%></a></li>
<% end %>
  <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 1</a></li>
  <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 2</a></li>
  <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 3</a></li>
  <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 4</a></li>
  <li><a href="#" class="small" data-value="option5" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 5</a></li>
  <li><a href="#" class="small" data-value="option6" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 6</a></li>
</ul>
  </div>
</div>
  </div>
</div>
<%=hidden_field_tag 'all_dicts',all_dicts %>

