<% provide(:title, "lookup") %>

<%
   @search_opts = [ ['Tìm từ chính xác','search_exact'],
				   ['Tìm mục có chứa từ','search_contain'] ]
%>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Dictionary App</title>
  </head>
  <body>
    <%= form_with url: '/dict_lookup', method: :get, local: true do |f| %>
       <%= render 'select_dicts' %>
       <%= render 'search' %>
    <% end %>
    <%= render 'lookup_result' %>
  </body>
</html>
