<% provide(:title, "lookup") %>
<%
   @search_opts = [ ['Tìm từ chính xác','search_exact'],
				   ['Tìm mục có chứa từ','search_contain'] ]
%>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Dictionary App</title>
  </head>
  <body>

<!-- RENDER LOOKUP - METHODS  -->
<%    
	tab=[['lookup_dict','Tra theo tư điển'],
	     ['lookup_lang','Tra theo ngôn ngữ']]
%>
<!--    TABS                         -->
  <ul class="nav nav-pills">
<% tab.each{|t| 			%>
<% if t[0]==params[:lookup_type] %>
    <li class="active">
<% else %>
    <li>
<% end %>
    <a data-toggle="pill" href="<%="#"+t[0]%>"> <%=t[1]%></a></li>
<% }					%>
  </ul>
<!--    TABS-END                     -->
<hr>
<!--    TAB - CONTENT                     -->
  <div class="tab-content">

<% tab.each{|t| 			%>
	<% if t[0]==params[:lookup_type] %>
    	<%	tab_class="tab-pane fade in active" %>
	<% else %>
    	<%	tab_class="tab-pane fade in " %>
	<% end %>
    	<div id="<%=t[0]%>" class="<%=tab_class%>">
	<%= render t[0] %>
    	</div>
<% }					%>
  </div>
<!-- RENDER RESULTS  -->
<hr>

<!--    TABS                         -->
<% @result = [] if @result == nil%>
<ul class="nav nav-pills"> 
<% i = 0 
   @result.each{|res|
   if i == 0  %>
      <li class="active">
<% else %>
      <li>
<% end  
   i = i + 1
%>
    <a data-toggle="pill" href="<%="#"+res[:dict_name]%>"> <%=@dictionaries.dict_name(res[:dict_name])%></a></li>
<% }%> 
</ul>
<!--    TABS-END                     -->


<!--    TAB - CONTENT                     -->
<div class="container" >
  <div class="tab-content">
<% i = 0 
   @result.each{|res|
     if i == 0  %>
<%	tab_class="tab-pane fade in active" %>
<%   else   %>
<%	tab_class="tab-pane fade in " %>
<%   end	%>
   	<div id="<%=res[:dict_name]%>" class="<%=tab_class%>">
		<%= @dictionaries.render_result(res).html_safe %>
	</div>
<% i = i + 1
   } %>
  </div>
</div>
<!--    END TAB - CONTENT                     -->

  </body>
</html>
