
<% @admin_job = "cfgdict" %>
<%= render 'layouts/admin_header' %>
<%= form_with url: '/dict_import', method: :put, local: true, multipart: true do |f| %>
  <%= hidden_field_tag('dict_id', @dict_id ) %>
  <%= hidden_field_tag('dict_name', @dict_name ) %>
  <%= hidden_field_tag('tmp_file_name', @tmp_file_name ) %>
  <%= hidden_field_tag("job_id",params[:job_id]) %>
  <%= hidden_field_tag("job_status",params[:job_status]) %>
<div class="container">
  <div class="row">
    <div class="col-sm-5">
	  <p>Nhập Data cho tự điển: <%=@dict_name %></p>
	  <%= render "import_form", :f => f %>
	</div>
    <div class="col-sm-7">
	  <%= render "import_jobs" %>
	  <%= render "import_read_result", :records => @records %>
	  <% if not @records.empty? %>
	   <div class="btn-group">
		<%= f.submit "import" %>
		<%= f.submit "cancel" %>
	   </div>
		<% end %>
    </div>
  </div>
</div>

	  <%= render "import_progress", :f => f %>



<% end %>
