
<% @lang_config.each{|f,v| %>
	<%= hidden_field_tag(f,v) %>
<% } %>

<% data_ready= true if @fields != nil and @sample_datas != nil %>

<div class="input-group input-group-sm">
	<select class="form-control" id="dict_id" name="dict_id"  onchange="this.form.submit();">
		<%= options_for_select(@glossaries_options,params[:dict_id]) %>
	</select>
	<span class="input-group-addon" id="basic-addon2">Chọn tự điển</span>
</div>
<div class="input-group input-group-sm">
<span class="input-group-addon" id="basic-addon2">Chọn File</span>
<input type="file" id="imp_file"  name="imp_file" class="form-control form-control-file" >
<span class="input-group-addon" id="basic-addon2">Dữ liệu bắt đầu ở hàng thứ:</span>
<input type="text" class="form-control" id="DATA_START" name="DATA_START"
	placeholder='' 
	value="<%=params[:DATA_START]%>" 
	aria-describedby="basic-addon2">
</div>




<div class="input-group">
	<%= submit_tag "Đọc file", {"class"=>"form-control btn btn-default btn-sm"} %>
    <%= if data_ready 
	       submit_tag "Nhập file", {"class"=>"form-control btn btn-default btn-sm"}
		end
	%>
	<%= if data_ready
		   submit_tag "Bỏ qua", {"class"=>"form-control btn btn-default btn-sm"} 
		end
	%>
</div>

<% if @fields != nil and @sample_datas != nil %>

<div class="row" >
<div class="table-responsive">
<table class="table table-condensed table-striped">

  <thead  class="thead-light">
    <tr>
	  <% @fields.each{|field,value| %>
	    <th><%=value%></th>
	  <% }%>
    </tr>
  </thead>
  <tbody>

		<% @sample_datas.each do |glossary_data|	%>
		   <tr>
		<% 	  @fields.each{|field,value| 			%>
		<%		data = glossary_data[field]			%>
		<%		data = "NA" if data==nil 			%>
				<td><%=data%></td>
		<% 	  }										%>
			</tr>
		<% end 										%>

  </tbody>
</table>

</div> <!--- table-responsive -->
</div> <!--- row  -------------->


<%end%>


