
<div class="panel panel-default">
  <div class="panel-heading">
    <% if params[:id]==nil or params[:id]=="0"
	      tittle = "Tạo tự điển mới"
	   else
	      name = ""
		  if params[:dict_name] != nil and params[:dict_name] != ""
		     name = params[:dict_name]
		  else 
			if params[:dict_sys_name] != nil and params[:dict_sys_name] != ""
				name = params[:dict_sys_name]
		    else
				name = params[:id]
			end
		  end
		  tittle = "Cấu hình tự điển: "+ name 
	   end
	%>
	<p class="dict_label"><%=tittle%></p>
  </div>

<!--- SHOW NOTICE ---> 
<% if @notice!=nil %>
<div class="alert alert-success">
   <% @notice.split("\n").each{|l| %>
		<p><%=l%>
   <%}%>
</div>
<%end%>

<!--- SHOW WARNING --->

<% if @warning!=nil %>
<div class="alert alert-danger">
   <% @warning.split("\n").each{|l| %>
		<p><%=l%>
   <%}%>
</div>
<%end%>

  <div class="panel-body">
    <%= form_with url: admin_pages_config_dict_path , method: :get, local: true ,id: "cfg" do |f| %>
		<%=hidden_field_tag 'id',params[:id] %>
		<%= render "config_dict_form" %>
	<% end %>
  </div>