<script>
function hello(){
	console.log("HELLO");
	$("#want_delete").modal();
}
$(document).ready(function(){
	$("#yes").click(function(){
        console.log("YES");
		document.getElementById("do_it").value="delete";
		document.getElementById("cfg").submit();
		return false;
    });
	$("#no").click(function(){
        console.log("NO");
		return true;
    });
	console.log("READY!");
});

</script>

<% options = [] 
   @all_glossaries_configs.each {|inf|
		options << [ inf.dict_name , inf.dict_sys_name ]
   } 
%>

<%= form_with url: admin_pages_glossaries_path ,  method: :get, local: true , id: "cfg" do |f| %>

<%= hidden_field_tag 'do_it' %>   

<div class="container">


<div class="row input-group">

    <select class="form-control" id="dict_id" name="dict_id" onchange="this.form.submit();" >
			<%= options_for_select(options,params[:dict_id]) %>
    </select>
    <span class="input-group-addon">-</span>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa  fa-reorder"></i>
		</button>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" 
			   href="<%=admin_pages_glossary_edit_path+'?dict_id='+params[:dict_id] %>" 
			   >Thêm từ mục</a>
			<a class="dropdown-item" 
			   href="<%=admin_pages_glossary_import_path+'?dict_id='+params[:dict_id] %>" 
			   >Nhập liệu từ file</a>
			<a class="dropdown-item" 
			   href="<%=admin_pages_glossary_export_path+'?dict_id='+params[:dict_id] %>" 
			   >Kết xuất tự điển ra file</a>
			<a class="dropdown-item" 
			   href="#"
			   onclick="hello();" 
			   >Xóa dữ liệu</a>
		</div>
	</div>

</div>

<div class="row" >
  <div class="input-group">
    <span class="input-group-addon btn btn-default btn-sm " role="button"> 
	    <button class="fa fa-search"></button>
	</span>
    <input id="to_search" type="text" class="form-control" name="to_search"
	value= "<%=params[:to_search] %>" 
	placeholder="Nhập từ muốn kiếm">

  </div>
</div>


	<%= render "notices" %>
 
<%if @fields != nil %>

<div class="row" >
<div class="table-responsive">
<table class="table table-condensed table-striped">

  <thead  class="thead-light">
    <tr>
	  <th></th>
	  <% @fields.each{|field,value| %>
	    <th><%=value%></th>
	  <% }%>
    </tr>
  </thead>
  <tbody>
    <% @glossaries.each do |id,glossary| %>
      <tr>
	  	<td>
			<a class="btn btn-default btn-sm" 
				href="<%=admin_pages_glossary_edit_path + '?' + 'id=' + id.to_s %>"	
				role="button"><i class="fa fa-edit"></i>
			</a>
		</td>
	<% @fields.each{|field,pos|
		data = glossary[field]
		data = "NA" if data==nil
	%>
	    <td><%=data%></td>
	<% }%>
      </tr>
    <% end %>
  </tbody>
</table>

</div> <!--- table-responsive -->
</div> <!--- row  -------------->
</div> <!--- container -->

<% else %>
  <p>Tư điển chưa được cấu hình hay cấu hình sai! </p> 
<% end %>

<% end %>


<!----- POPUPS --------------------------------------------------------------->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="want_delete" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Xóa dữ liệu<%=params[:dict_name]%></h3>
        </div>
        <div class="modal-body">
          <p>Bạn thật sự muốn xóa dữ liệu của tự điển này?</p>
        </div>
        <div class="modal-footer">
		  <button type="button" class="btn btn-default" id="yes" data-dismiss="modal">Yes</button>
		  <button type="button" class="btn btn-default" id="no" data-dismiss="modal">No</button>
        </div>
      </div>
      
    </div>
  </div>
</div>


