
<% options = [] 
   @all_glossaries_configs.each {|inf|
		options << [ inf.dict_name , inf.dict_sys_name ]
   } 
%>

<%= form_with url: admin_pages_glossaries_path , 
       method: :get, local: true do |f| %>

	   

<div class="container">


<div class="row input-group">

    <select class="form-control" id="dict_id" name="dict_id" onchange="this.form.submit();" >
			<%= options_for_select(options,params[:dict_id]) %>
    </select>
    <span class="input-group-addon">-</span>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa  fa-reorder"></i>
		</button>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" 
			   href="<%=admin_pages_glossary_edit_path+'?dict_id='+params[:dict_id] %>" 
			   >Thêm từ mục</a>
			<a class="dropdown-item" 
			   href="<%=admin_pages_glossary_import_path+'?dict_id='+params[:dict_id] %>" 
			   >Nhập liệu từ file</a>
			<a class="dropdown-item" 
			   href="<%=admin_pages_glossary_export_path+'?dict_id='+params[:dict_id] %>" 
			   >Kết xuất tự điển ra file</a>
		</div>
	</div>

</div>

<div class="row" >
  <div class="input-group">
    <span class="input-group-addon btn btn-default btn-sm " role="button"> 
	    <button class="fa fa-search"></button>
	</span>
    <input id="to_search" type="text" class="form-control" name="to_search"
	value= "<%=params[:to_search] %>" 
	placeholder="Nhập từ muốn kiếm">
  </div>
</div>

<%= render "notices" %>
 
<%if @fields != nil %>

<div class="row" >
<div class="table-responsive">
<table class="table table-condensed table-striped">

  <thead  class="thead-light">
    <tr>
	  <th></th>
	  <% @fields.each{|field,value| %>
	    <th><%=value%></th>
	  <% }%>
    </tr>
  </thead>
  <tbody>
    <% @glossaries.each do |id,glossary| %>
      <tr>
	  	<td>
			<a class="btn btn-default btn-sm" 
				href="<%=admin_pages_glossary_edit_path + '?' + 'id=' + id.to_s %>"	
				role="button"><i class="fa fa-edit"></i>
			</a>
		</td>
	<% @fields.each{|field,pos|
		data = glossary[field]
		data = "NA" if data==nil
	%>
	    <td><%=data%></td>
	<% }%>
      </tr>
    <% end %>
  </tbody>
</table>

</div> <!--- table-responsive -->
</div> <!--- row  -------------->
</div> <!--- container -->

<% else %>
  <p>Tư điển chưa được cấu hình hay cấu hình sai! </p> 
<% end %>

<% end %>
