<%= form_with(model: dict_config, local: true  ) do |form| %>
  <% if dict_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dict_config.errors.count, "error") %> prohibited this dict_config from being saved:</h2>

      <ul>
      <% dict_config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-bordered ">
  <tr>
    <td bgcolor=tabhead_color><strong>Dict sys name:</strong> </td>
    <td><%= form.text_field :dict_sys_name, id: :dict_config_dict_sys_name, size: "100" %> </td>
  </tr>
  <tr>
    <td bgcolor=tabhead_color><strong>Dict name:</strong> </td>
    <td><%= form.text_field :dict_name, id: :dict_config_dict_name, size: "100" %> </td>
  </tr>
  <tr>
    <td bgcolor=tabhead_color><strong>Lang:</strong> </td>
    <td><%= form.text_field :lang, id: :dict_config_lang, size: "100" %></td>
  </tr>
  <tr>
    <td bgcolor=tabhead_color><strong>Xlate lang:</strong> </td>
    <td><%= form.text_field :xlate_lang, id: :dict_config_xlate_lang, size: "100" %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Desc:</strong> </td>
    <td><%= form.text_area :desc, id: :dict_config_desc, size: "100" %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Protocol:</strong> </td>
    <td><%= form.text_field :protocol, id: :dict_config_protocol, size: "100" %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Url:</strong> </td>
    <td><%= form.text_field :url, id: :dict_config_url, size: "100" %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Syntax:</strong> </td>
    <td><%= form.text_field :syntax, id: :dict_config_syntax, size: "100" %> </td>
  </tr>
  <tr>
    <td bgcolor=tabhead_color><strong>Ext infos:</strong> </td>
    <td><%= form.text_area :ext_infos, id: :dict_config_ext_infos, size: "100" %> </td>
  </tr>
</table>

<div class="actions">
    <%= form.submit %>
</div>


<% end %>
