<p id="notice"><%= notice %></p>
<% provide(:title,"Cấu hình tự điển") %>
<% @navlinks= [['Thêm tự điển', new_dict_config_path]] %>
<% @admin_job = "cfgdict" %>
<%= render 'layouts/admin_header' %>


<table class="table table-condensed">
  <thead>
    <tr>
      <th>Dict_ID</th>
      <th>Tên tự điển</th>
      <th>Ngôn ngữ gốc</th>
      <th>Ngôn ngữ đích</th>
      <th>Protocol</th>
      <th>Url</th>
      <th>Priority</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @dict_configs.each do |dict_config| %>
      <tr>
        <td><%= dict_config.dict_sys_name %></td>
        <td><%= dict_config.dict_name %></td>
        <td><%= dict_config.lang %></td>
        <td><%= dict_config.xlate_lang %></td>
        <td><%= dict_config.protocol %></td>
        <td><%= dict_config.url %></td>
        <td><%= dict_config.priority %></td>
<div class="btn-group">
        <td><%= link_to 'Chi tiết', dict_config %></td>
        <td><%= link_to 'Thay đổi', edit_dict_config_path(dict_config) %></td>
        <td><%= link_to 'Hủy', dict_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% if dict_config.protocol=='glossary' %>
        	<td><%= link_to 'Nhập liệu',dict_import_path(:dict_id=>dict_config.dict_sys_name) %></td>
	<% end %>
</div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

