<p id="notice"><%= notice %></p>
<%= form_with url: dict_configs_path, method: :get, local: true, multipart: true do |f| %>
<table class="table table-condensed table-striped">
  <thead>
    <tr class="active">
      <th>Mã hệ thống</th>
      <th>Tên tự điển</th>
      <th>Ngôn ngữ gốc</th>
      <th>Ngôn ngữ đích</th>
      <th>Protocol</th>
      <th>Priority</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>
		<a class="btn btn-default btn-sm" href="<%=new_dict_config_path%>" role="button">Thêm tự điển</a>
      </th>
      <th>
		<div class="input-group input-group-sm">
			<input type="text" id="dict_name" name="dict_name" class="form-control" 
				value="<%=params[:dict_id]%>" placeholder="Nhập một phần tên để tìm">
		</div><!-- /input-group -->
	  </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  
  
    <% @dict_configs.each do |dict_config| %>
      <tr>
        <td><%= dict_config.dict_sys_name %></td>
        <td><%= dict_config.dict_name %></td>
        <td><%= dict_config.lang %></td>
        <td><%= dict_config.xlate_lang %></td>
        <td><%= dict_config.protocol %></td>
        <td><%= dict_config.priority %></td>
<div class="btn-group">
        <td><%= link_to 'Chi tiết', dict_config %></td>
        <td><%= link_to 'Thay đổi', edit_dict_config_path(dict_config) %></td>
        <td><%= link_to 'Hủy', dict_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% if dict_config.protocol=='glossary' %>
        	<td><%= link_to 'Nhập liệu',dict_import_path(:dict_id=>dict_config.dict_sys_name) %></td>
	<% end %>
</div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%end%>
