<p id="notice"><%= notice %></p>
<% provide(:title,"Cấu hình tự điển") %>
<% @navlinks= [['Thêm tự điển', new_dict_config_path]] %>
<% @admin_job = "cfgdict" %>
<%= render 'layouts/admin_header' %>
<table class="table table-hover table-bordered ">
  <thead>
    <tr bgcolor=tabhead_color>
      <th>Dict sys name</th>
      <th>Dict name</th>
      <th>Lang</th>
      <th>Xlate lang</th>
      <th>Desc</th>
      <th>Protocol</th>
      <th>Url</th>
      <th>Syntax</th>
      <th>Ext infos</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @dict_configs.each do |dict_config| %>
      <tr>
        <td><%= dict_config.dict_sys_name %></td>
        <td><%= dict_config.dict_name %></td>
        <td><%= dict_config.lang %></td>
        <td><%= dict_config.xlate_lang %></td>
        <td><%= dict_config.desc %></td>
        <td><%= dict_config.protocol %></td>
        <td><%= dict_config.url %></td>
        <td><%= dict_config.syntax %></td>
        <td><%= dict_config.ext_infos %></td>
<div class="btn-group">
        <td><%= link_to 'Show', dict_config %></td>
        <td><%= link_to 'Edit', edit_dict_config_path(dict_config) %></td>
        <td><%= link_to 'Destroy', dict_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% if dict_config.protocol=='glossary' %>
        	<td><%= link_to 'Edit-data',dict_import_path(:dict_id=>dict_config.dict_sys_name) %></td>
	<% end %>
</div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

