<p id="notice"><%= notice %></p>
<table class="table table-hover table-bordered table-sm">

  <tr>
    <td bgcolor=tabhead_color><strong>Dict_ID:</strong> </td>
    <td><%= @dict_config.dict_sys_name %> </td>
  </tr>
  <tr>
    <td bgcolor=tabhead_color><strong>Tên tự điển:</strong> </td>
    <td><%= @dict_config.dict_name %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Ngôn ngữ gốc:</strong> </td>
    <td><%= @dict_config.lang %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Ngôn ngữ đích:</strong> </td>
    <td><%= @dict_config.xlate_lang %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Mô tả:</strong> </td>
    <td><%= @dict_config.desc %> </td>
  </tr>
  <tr>
    <td bgcolor=tabhead_color><strong>Priority:</strong> </td>
    <td><%= @dict_config.priority %> </td>
  </tr>
  <tr>
    <td bgcolor=tabhead_color><strong>Protocol:</strong> </td>
    <td><%= @dict_config.protocol %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Url:</strong> </td>
    <td><%= @dict_config.url %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Syntax:</strong> </td>
    <td><%= @dict_config.syntax %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Ext infos:</strong> </td>
    <td><%= @dict_config.ext_infos %> </td>
  </tr>
  <tr>
    <td bgcolor=tabhead_color><strong>CFG :</strong> </td>
    <td><%= @dict_config.cfg %> </td>
  </tr>
</table>

<%= link_to 'Edit', edit_dict_config_path(@dict_config) %> |
