<p id="notice"><%= notice %></p>
<% provide(:title,"Tu Dien") %>
<% @navlinks= [['Back', dict_configs_path]] %>
<%= render 'layouts/admin_header' %>


<p id="notice"><%= notice %></p>
<table class="table table-hover table-bordered table-sm">

  <tr>
    <td bgcolor=tabhead_color><strong>Dict sys name:</strong> </td>
    <td><%= @dict_config.dict_sys_name %> </td>
  </tr>
  <tr>
    <td bgcolor=tabhead_color><strong>Dict name:</strong> </td>
    <td><%= @dict_config.dict_name %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Lang:</strong> </td>
    <td><%= @dict_config.lang %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Xlate lang:</strong> </td>
    <td><%= @dict_config.xlate_lang %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Desc:</strong> </td>
    <td><%= @dict_config.desc %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Protocol:</strong> </td>
    <td><%= @dict_config.protocol %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Url:</strong> </td>
    <td><%= @dict_config.url %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Syntax:</strong> </td>
    <td><%= @dict_config.syntax %> </td>
  </tr>

  <tr>
    <td bgcolor=tabhead_color><strong>Ext infos:</strong> </td>
    <td><%= @dict_config.ext_infos %> </td>
  </tr>
</table>

<%= link_to 'Edit', edit_dict_config_path(@dict_config) %> |
