<%= form_with(model: davkhkt_dict, local: true) do |form| %>
  <% if davkhkt_dict.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(davkhkt_dict.errors.count, "error") %> prohibited this davkhkt_dict from being saved:</h2>

      <ul>
      <% davkhkt_dict.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-bordered ">
  <col width="100">
  
<tr>
  <div class="field">
    <td bgcolor=tabhead_color> <%= form.label :key_words %></td>
    <td><%= form.text_field :key_words, id: :davkhkt_dict_key_words %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <td bgcolor=tabhead_color><%= form.label :wtype %></td>
    <td><%= form.text_field :wtype, id: :davkhkt_dict_type %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <td bgcolor=tabhead_color><%= form.label :category %></td>
    <td><%= form.text_field :category, id: :davkhkt_dict_category %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <td bgcolor=tabhead_color><%= form.label :english %></td>
    <td><%= form.text_field :english, id: :davkhkt_dict_english %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <td bgcolor=tabhead_color><%= form.label :viet %></td>
    <td><%= form.text_field :viet, id: :davkhkt_dict_viet %></td>
  </div>
</tr>
<tr>
  <div class="actions">
    <td><%= form.submit %></td>
  </div>
</tr>
</table>
<% end %>
