<p id="notice"><%= notice %></p>

<p>
  <strong>Key words:</strong>
  <%= @davkhkt_dict.key_words %>
</p>

<p>
  <strong>Type:</strong>
  <%= @davkhkt_dict.wtype %>
</p>

<p>
  <strong>Category:</strong>
  <%= @davkhkt_dict.category %>
</p>

<p>
  <strong>English:</strong>
  <%= @davkhkt_dict.english %>
</p>

<p>
  <strong>Viet:</strong>
  <%= @davkhkt_dict.viet %>
</p>

<%= link_to 'Edit', edit_davkhkt_dict_path(@davkhkt_dict) %> |
<%= link_to 'Back', davkhkt_dicts_path %>
