    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container" id="header-container" >
        <%= link_to "TRANG TỰ ĐIỂN TỔNG HỢP", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right "  >
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Tra tự điển",   dict_lookup_path %></li>
            <li><%= link_to "Trợ giúp",   help_path %></li>
            <li><%= link_to "Về chúng tôi", about_path %></li>
            <li><%= link_to "Admin", admin_path %></li>
          </ul>
        </nav>
      </div>
    </header>
