<nav class="navbar navbar-expand-sm navbar-light bg-light ">
  <a class="navbar-brand" href="#">TỰ ĐIỂN TỔNG HỢP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-end">
		<li><a class="nav-link" href=<%=dict_lookup_path%>>Tra từ</a></li>
		<li><a class="nav-link" href=<%=help_path%>>Trợ giúp</a></li>		
		<li><a class="nav-link" href=<%=about_path%>>Giới thiệu</a></li>
	
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Tài khoản
			</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href=<%=login_path%>>Đăng nhập</a>
				<a class="dropdown-item" href=<%=logout_path%>>Đăng xuất</a>
				<a class="dropdown-item" href=<%=signup_path%>>Đăng ký</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#"><%=current_user_name%></a>
				
			</div>
		</li>		
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Quản lý
			</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href=<%=admin_pages_config_dicts_path%>>Cấu hình tự điển</a>
				<a class="dropdown-item" href=<%=admin_pages_glossaries_path%>>Bảng thuật ngữ</a>
				<a class="dropdown-item" href=<%=admin_pages_glossary_import_path%>>Nhập bảng thuật ngữ</a>
				<a class="dropdown-item" href=<%=admin_pages_glossary_export_path%>>Xuất bảng thuật ngữ</a>
			</div>
		</li>
	</ul>
  </div>
  
  
</nav>
